<app-header></app-header>

<div class="background-container">
    <div class="form-wrapper">
        <div class="row header-row">
            <div class="col-6">
                <h2 class="h2-form"><a (click)="showForm('register')">Crear una cuenta</a></h2>
            </div>
            <div class="col-6 text-start">
                <a (click)="showForm('login')" class="login-link">Iniciar sesión</a>
            </div>
        </div>

        <div class="card transparent-card">
            <div class="card-body">
              
                <form *ngIf="isRegisterFormVisible" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
                    <div class="mb-3">
                        <label for="nombreCompleto" class=" form-label label-text">Nombre completo</label>
                        <input type="text" class="form-control input-text-color" id="nombreCompleto" formControlName="nombreCompleto"
                            placeholder="Ingresa tu nombre completo" required>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="correoElectronico" class="form-label label-text">Correo electrónico</label>
                            <input type="email" class="form-control input-text-color" id="correoElectronico"
                                formControlName="correoElectronico" placeholder="Ingresa tu correo electrónico" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="contrasena" class="form-label label-text">Contraseña</label>
                            <input type="password" class="form-control input-text-color" id="contrasena" formControlName="contrasena"
                                placeholder="Crea una contraseña" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="direccionCompleta" class="form-label label-text">Dirección completa</label>
                        <input type="text" class="form-control input-text-color" id="direccionCompleta"
                            formControlName="direccionCompleta" placeholder="Ingresa tu dirección completa" required>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label label-text">Estado</label>
                            <select class="form-select input-text-color" id="estado" formControlName="estado" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Baja California">
                                    Baja California
                                </option>
                                <option value="Baja California Sur">
                                    Baja California Sur
                                </option>
                                <option value="Campeche">Campeche</option>
                                <option value="Coahuila de Zaragoza">
                                    Coahuila de Zaragoza
                                </option>
                                <option value="Colima">Colima</option>
                                <option value="Chiapas">Chiapas</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="Ciudad de México">
                                    Ciudad de México
                                </option>
                                <option value="Durango">Durango</option>
                                <option value="Guanajuato">Guanajuato</option>
                                <option value="Guerrero">Guerrero</option>
                                <option value="Hidalgo">Hidalgo</option>
                                <option value="Jalisco">Jalisco</option>
                                <option value="México">México</option>
                                <option value="Michoacán de Ocampo">
                                    Michoacán de Ocampo
                                </option>
                                <option value="Morelos">Morelos</option>
                                <option value="Nayarit">Nayarit</option>
                                <option value="Nuevo León">Nuevo León</option>
                                <option value="Oaxaca">Oaxaca</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Quintana Roo">Quintana Roo</option>
                                <option value="San Luis Potosí">San Luis Potosí</option>
                                <option value="Sinaloa">Sinaloa</option>
                                <option value="Sonora">Sonora</option>
                                <option value="Tabasco">Tabasco</option>
                                <option value="Tamaulipas">Tamaulipas</option>
                                <option value="Tlaxcala">Tlaxcala</option>
                                <option value="Veracruz">Veracruz</option>
                                <option value="Yucatán">Yucatán</option>
                                <option value="Zacatecas">Zacatecas</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="telefonoCelular" class="form-label label-text">Teléfono / Celular</label>
                            <input type="tel" class="form-control input-text-color" id="telefonoCelular"
                                formControlName="telefonoCelular" placeholder="Ingresa tu teléfono o celular" required>
                        </div>
                    </div>

                    <hr class="green-line">

                    <div class="row align-items-center mt-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="aceptoTerminos"
                                    formControlName="aceptoTerminos" required>
                            <label class="form-check-label input-text-color " for="aceptoTerminos">Acepto
                            <a class=" input-text-color" target="_blank" href="#" data-bs-toggle="modal" data-bs-target="#termsModal">Bases</a>
                            y <a class=" input-text-color" target="_blank" href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">Aviso de Privacidad</a><br /><span class="text-danger">
                            Este campo es requerido.
                            </span></label>
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-danger submit-btn" [disabled]="!registrationForm.valid">Registar</button>
                        </div>
                    </div>
                </form>
 


<form *ngIf="!isRegisterFormVisible" [formGroup]="loginForm" (ngSubmit)="onLogin()">
       
 <h2 class="text-start mb-4">Iniciar Sesión</h2>
        <div class="mb-3">
          <label for="emailLogin" class="form-label">Correo electrónico</label>
          <input type="email" id="emailLogin" class="form-control" formControlName="email" required>
        </div>
        <div class="mb-3">
          <label for="passwordLogin" class="form-label">Contraseña</label>
          <input type="password" id="passwordLogin" class="form-control" formControlName="password" required>
        </div>
        <div class="text-start">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">INGRESAR</button>
        </div>
      </form>
</div>
</div>
</div>










<!--
<div class="row">
  <h1>Participa</h1>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h2>Registro</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-primary" [routerLink]="['/cuenta']" >Sign in</button>
        <a href="javaScript:void(0);" [routerLink]="['/cuenta']"> registro </a>
      </div>
    </form>

  </div>

  <div class="col-md-4">
    <h2>Login</h2>

    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control is-valid" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="text-danger">Este campo es necesario.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control is-invalid" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
  <div class="col-md-2"></div>

</div>-->