<app-header></app-header>

<p>cuenta works!</p>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Crear Cuenta</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-container">
  <h2 *ngIf="!isLogin">Crear una cuenta</h2>
  <h2 *ngIf="isLogin">Iniciar sesión</h2>
  <a *ngIf="isLogin" href="#" class="login-link">Iniciar sesión</a>
  <form>
    <div class="form-group">
      <input type="text" [(ngModel)]="model.fullName" placeholder="Nombre completo" *ngIf="!isLogin" />
      <input type="email" [(ngModel)]="model.email" placeholder="Correo electrónico" />
      <input type="password" [(ngModel)]="model.password" placeholder="Contraseña" />
      <input type="text" [(ngModel)]="model.address" placeholder="Dirección completa" *ngIf="!isLogin" />
      <select [(ngModel)]="model.state" placeholder="Estado" *ngIf="!isLogin">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option2">Option 2</option>
      </select>
      <input type="tel" [(ngModel)]="model.phone" placeholder="Teléfono/Celular" *ngIf="!isLogin" />
    </div>
    <div class="terms" *ngIf="!isLogin">
      <input type="checkbox" [(ngModel)]="model.acceptTerms" />
      <label>Acepto Bases y Aviso de esta promoción.</label>
    </div>
    <button type="submit" class="register-btn">Registrar</button>
  </form>
</div>