/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */


body {

  font-family: 'Amino Regular 9 black', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fff;
}



/*fonts*/
@font-face {
  font-family: 'Amino Regular';
   src: url('/assets/fonts/amino/Amino-Regular.woff2') format('woff2');
  src: url('/assets/fonts/amino/Amino-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Amino Bold';
  src: url('/assets/fonts/amino/amino_bold-webfont.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Amino Regular 9 black';
  src: url('/assets/fonts/amino/amino_black-webfont.woff2') format('woff2');
  src: url('/assets/fonts/amino/amino_black-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}


h1 {
  color: #00a651;
  font-weight: 500;
  font-size: 45px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #ed1c24;
  font-weight: 500;
  font-size: 45px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p { font-family: 'Amino Regular', sans-serif;}


/*nav- header*/
.nav-text {
  color: #20ae61;
  transform: UPP;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

/* Enlaces del menú */
.menu-nav a {
  text-decoration: none;
  color: #39bc76;
  /* Verde para los enlaces */
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-nav a:last-child {
  color: #ff0000;
  /* Rojo para "MI CUENTA" */
  text-transform: uppercase;
}

/* Hover (opcional) */
.menu-nav a:hover {
  text-decoration: underline;
}

/*hero-section*/
.yellow-line {
  height: 7px;
  background-color: #ffd308;
  width: 100%;
}

.hero-section {
  position: relative;
  height: 100vh;
  background-image: url(/assets/bg/bg-tr-2000.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.glow-effect {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px rgba (255, 255, 255, 0.8));
  }

  to {
    filter: drop-shadow(0 0 20px rgba (255, 255, 255, 1));
  }
}

.jump-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50) translateY(-20px);
  }
}

.jump-button svg {
  width: 50px;
  height: 50px;
}

/* MECANICA*/

.mechanics-section {
  background-image: url(/assets/bg/bg-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Efecto fade para las imágenes */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .mechanics-section {
    padding: 40px 0;
    background-position: top;
  }

  .fade-in {
    animation-delay: 0.2s;
  }
}

.h2-mec {
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Premios*/
.premio-section {
  background-image: url('/assets/bg/bg-3.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.3); // Overlay for better contrast*/
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  // Shine Effect for Left Image
  .shine-container {
    position: relative;
    display: inline-block;
    overflow: hidden;

    .shine-image {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 20%;
      height: 200%;
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 50%,
          rgba(255, 255, 255, 0) 100%);
      transform: rotate(45deg);
      animation: shine 3s infinite;
    }
  }

  // Fade and Rotate Effect for Right Image
  .fade-rotate-image {
    border-radius: 0px;
    max-width: 100%;
    height: auto;
    animation: fadeRotate 4s ease-in-out infinite;
  }

  // Responsive Adjustments
  @media (max-width: 767px) {
    padding: 40px 0;
    min-height: 400px;

    .shine-container,
    .fade-rotate-image {
      margin-bottom: 20px;
    }
  }
}

// Shine Animation
@keyframes shine {
  0% {
    left: -50%;
  }

  100% {
    left: 150%;
  }
}

// Fade and Rotate Animation
@keyframes fadeRotate {

  0%,
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.7;
    transform: rotate(10deg);
  }
}
.img-fluid2{

    max-width: 130%;
    height: auto;
    margin-bottom: -101px;
}

/*Winers*/
/* Ajustes adicionales para mejorar la responsividad */

.text-p-color{
  font-family: 'Amino Regular', sans-serif;
  color: #00a651;
  font-weight: 500;
  font-size: 35px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}
.card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

/* Asegurar que las tarjetas tengan el mismo alto en pantallas medianas y grandes */
@media (min-width: 768px) {
  .card {
    min-height: 200px;
  }
}

/* Footer*/

.footer-back {
  background-color: #0fa54f;
}

.legal {
  text-align: center;
  font-family: 'Amino Regular', sans-serif;
  color: #0f5117;
  padding: 30px;
}

.nav-link2 {
    /*display: block;*/
    text-align: center;
    padding: 50px;
    /*font-size: var(--bs-nav-link-font-size);*/
    /*font-weight: var(--bs-nav-link-font-weight);*/
    color: #ffffff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.f-text-w {
  color:#fff;
  font-family: 'Amino Regular', sans-serif;
 
}

/*styles Modals*/
//Modal Bases

.text-body-modal {
  font-family: 'Amino Regular', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.container-modal {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title1-modal {
  font-family: 'Amino Regular 9', sans-serif;
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #d32f2f;
  /* Un rojo más oscuro para el título principal */
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.title2-modal {
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #c62828;
  /* Un rojo similar para las secciones */
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-top: 30px;
  font-size: 1.8em;
}

.title3-modal {
   font-family: 'Amino Regular 9 black', sans-serif;
  color: #e53935;
  /* Un rojo un poco más claro para subtítulos */
  margin-top: 20px;
  font-size: 1.4em;
}

p {
  margin-bottom: 15px;
  text-align: justify;
}

ul {
  list-style: disc;
  text-align: justify;
  //margin-left: 25px;
  //margin-bottom: 15px;
}

ol {
  list-style: decimal;
  text-align: left;
  //margin-left: 25px;
  //margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 0.9em;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #555;
  font-weight: bold;
}

td:first-child {
  font-weight: bold;
}

.highlight {
font-family: 'Amino Regular 9 black', sans-serif;
  background-color: #fff3e0;
  /* Un color suave para resaltar */
  padding: 10px;
  border-left: 5px solid #ff9800;
  margin-bottom: 20px;
}

footer {
  font-family: 'Amino Regular 9', sans-serif;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #777;
  font-size: 0.9em;
}

/* Estilos específicos para el título de la dinámica */
.promo-title {
  font-family: 'Amino Regular' sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #c62828;
  text-align: center;
  margin-bottom: 30px;
}

.promo-sub{
   font-family: 'Amino Regular 9 black', sans-serif;
  
   color: #00a651;
  font-weight: 500;
  font-size: 25px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.promo-title2 {
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #ed1c24;
    font-weight: 500;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

.promo-title3 {
  font-family: 'Amino Regular' sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #c62828;
  text-align: left;
  margin-bottom:0px;
}



//FQA
.modal-title2{
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #00a651;
  font-weight: 500;
  font-size: 20px;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}
.faq-item {
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #00a651;
  font-weight: 500;
  font-size: 18px;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}

.faq-question {
   font-family: 'Amino Regular 9 black', sans-serif;
  color: #00a651;
  font-weight: 500;
  font-size: 20px;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}

.faq-answer {
   font-family: 'Amino Regular', sans-serif;
  color: #363636;
  font-weight: 100;
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}

.btn-text {
   font-family: 'Amino Regular 9 black', sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
  text-align: center;
}

.btn-red {
    background-color: #c00b0b;
    color: white;
    font-family: 'Amino Regular 9 black', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
}

.btn-green {
    background-color: #00a651;
    
    color: white;
    font-family: 'Amino Regular 9 black', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
}

.btn-gray {
    background-color: #8d8f8e;
    color: white;
    font-family: 'Amino Regular 9 black', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
}

//Aviso de Privacidad
.txt-p {
  font-family: 'Amino Regular 9 black', sans-serif;
  color: #333;
}


/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.altoMinimo {
  min-height: 600px;
}

.logo-img {
  width: 130px;
  height: 70px;
}


/*Cuenta*/
.form-container {
  background-color: #f4c430;
  padding: 20px;
  border: 2px solid #00a651;
  border-radius: 10px;
  text-align: center;
  font-family: 'Amino Regular 9', sans-serif;
}

.h2-cuenta {
  font-family: 'Amino Regular 9', sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.login-link {
  color: #ff0000;
  float: right;
  text-decoration: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.terms {
  margin: 20px 0;
  color: #fff;
}

.terms input {
  margin-right: 10px;
}

.register-btn {
  font-family: 'Amino Regular 9', sans-serif;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.register-btn:hover {
  font-family: 'Amino Regular 9', sans-serif;
  background-color: #cc0000;
}